# AlignConsecutiveAssignments: None
# AlignConsecutiveBitFields: None
# AlignConsecutiveDeclarations: None
# `clang-format` hates you with a passion
# AlignConsecutiveMacros: None
AlignEscapedNewlines: DontAlign
AlignOperands: DontAlign
AlignTrailingComments: false

AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None

AttributeMacros: [ '__unused', '__inline', '__deprecated', '__nodiscard', '__likely', '__unlikely' ]

BinPackArguments: true
BinPackParameters: true

#BitFieldColonSpacing: After

BreakBeforeBraces: Custom
BraceWrapping:
    AfterCaseLabel: false
    AfterControlStatement: Never
    AfterEnum: false
    AfterFunction: false
    AfterStruct: false
    AfterUnion: false
    BeforeElse: true
    BeforeWhile: false
    SplitEmptyFunction: false
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: false
BreakStringLiterals: false

ColumnLimit: 0

DeriveLineEnding: true
DerivePointerAlignment: true

ForEachMacros: [ 'GEN_FOREACH', 'GEN_FOREACH_PTR', 'GEN_FOREACH_DIRECT_PTR' ]

IncludeBlocks: Regroup

IndentCaseBlocks: false
IndentCaseLabels: true
IndentGotoLabels: true
IndentPPDirectives: None
IndentWidth: 4

KeepEmptyLinesAtTheStartOfBlocks: false

Language: Cpp

MacroBlockBegin: .+GEN_DIAG_REGION_BEGIN\n
MacroBlockEnd: .+GEN_DIAG_REGION_END\n

MaxEmptyLinesToKeep: 1

PointerAlignment: Left

ReflowComments: false

SortIncludes: true

SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
#SpaceAroundPointerQualifiers: Both
SpaceBeforeAssignmentOperators: true
#SpaceBeforeCaseColon: false
SpaceBeforeParens: Never
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

TabWidth: 4

UseCRLF: false

UseTab: Always
