*.o
*.obj

*.a
*.lib

*.so
*.so.*
*.dll
*.dylib

*.out
*.exe

*.def
*.exp

*.dSYM

*.tmp
*.log

*.plist

*.gcda
*.gcno
*.profraw

docs/*
out/*
tmp/*

genstone/vendor/tmp/*

filename

.vscode
.vs

*.DS_STORE
