[submodule "genstone/vendor/c11compat/safeclib"]
	path = genstone/vendor/c11compat/safeclib
	url = https://github.com/rurban/safeclib
[submodule "genstone/vendor/dirent"]
	path = genstone/vendor/dirent
	url = https://github.com/tronkko/dirent
[submodule "genstone/vendor/mimalloc"]
	path = genstone/vendor/mimalloc
	url = https://github.com/microsoft/mimalloc
